<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <context-param>
        <param-name>email</param-name>
        <param-value>471964854@qq.com</param-value>
    </context-param>
    <listener>
        <listener-class>com.nero.java.jsp.listener.ServletListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.nero.java.jsp.listener.SessionAttributeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>com.nero.java.jsp.servlet.BeerSelect</servlet-class>
        <init-param>
            <param-name>email</param-name>
            <param-value>471964854@qq.com</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup><!--大于0代表，容器启动时会自动初始化servlet-->
    </servlet>
    <servlet>
        <servlet-name>CodeReturn</servlet-name>
        <servlet-class>com.nero.java.jsp.servlet.CodeReturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>com.nero.java.jsp.servlet.WelcomeServlet</servlet-class>
        <security-role-ref>
            <role-name>manager</role-name>
            <role-link>admin</role-link>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodeReturn</servlet-name>
        <url-pattern>/download.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/welcome.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <location>/jsp/error.jsp</location>
    </error-page>
    <welcome-file-list>
        <!--优先级根据位置先后排序-->
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/html/login.html</form-login-page><!--指定登录的表单-->
            <form-error-page>/jsp/error.jsp</form-error-page><!--指定认证不成功跳转的页面-->
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>WelcomeServlet</web-resource-name>
            <url-pattern>/welcome.do</url-pattern>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <filter>
        <filter-name>main</filter-name>
        <filter-class>com.nero.java.jsp.FilterDemo</filter-class>
        <init-param> <!--初始化参数-->
            <param-name>name</param-name>
            <param-value>nero</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>main</filter-name>
        <!--指定过滤器拦截的url-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>respFilter</filter-name>
        <filter-class>com.nero.java.jsp.respFilter.RespFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>respFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
